
@model Web.Models.Home.DadosViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dados</title>
</head>
<body>
    <div>
        <label>Nome:</label><span>@Model.Nome</span>
    </div>
    <div>
        <label>Idade:</label><span>@Model.Idade</span>
    </div>
    <div>
        <label>Cpf:</label><span>@Model.Cpf</span>
    </div>
    <div>
        <label>EstadoCivil:</label><span>@Model.EstadoCivil</span>
    </div>
    <div>
        <label>NomeDeTratamento:</label><span>@Model.NomeDeTratamento</span>
    </div>
    <div>
        <label>DocumentoDeIdentidade:</label><span>@Model.DocumentoDeIdentidade</span>
    </div>
    <div>
        <label>Sexo:</label><span>@Model.Sexo</span>
    </div>
    <div>
        <label>Escolaridade:</label><span>@Model.Escolaridade</span>
    </div>
    <div>
        <label>ConclucaoMmesAno:</label><span>@Model.ConclucaoMmesAno</span>
    </div>
    <div>
        <label>FormacaoAcademicaemAndamento:</label><span>@Model.FormacaoAcademicaemAndamento</span>
    </div>
    <div>
        <label>CNPJdaEscola:</label><span>@Model.CNPJdaEscola</span>
    </div>
    <div>
        <label>Previsaodeconcluçao:</label><span>@Model.Previsaodeconcluçao</span>
    </div>
    <div>
        <label>DDD:</label><span>@Model.DDD</span>
    </div>
    <div>
        <label>Telefone:</label><span>@Model.Telefone</span>
    </div>
    <div>
        <label>Email:</label><span>@Model.Email</span>
    </div>
    


</body>
</html>
